p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2rem ;
}

#container {
	width: 640px;
	height: auto;
	background-image: url("https://iili.io/HTIPNOF.png");
	background-size:cover ;
	position:relative;
	margin: auto ;
	overflow: hidden ;
}

/*logogs*/

#logos {
	max-width: 50% ;
	height: 40px ;
	margin: 40px 0 0 40px ;
	display: flex ;
	justify-content: space-between ;

}

/*title*/

h1{
	font-family:Arial, Helvetica, sans-serif ;
	font-size: 2rem  ;
	color: white ;
	text-align: center ;
	margin-top: 40px ;
	
}

/*steps*/

#steps{
	width:80%;
	height:auto;
	margin:auto;
	position: relative ;
	display: flex ;
	align-items: center ;
	justify-content: space-between ;
	color: white ;
	flex-wrap: nowrap ;
}
.steps {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	align-items: center;
	justify-content: center ;
}

.steps p {
	font-size: 1rem ;
}

.steps img {
	transform: scale(75%) ;
}

/*sticker*/

#stickerBox {
	width:60%; 
	height:auto;
	margin: 40px auto;
	position:relative;
	/*background-color: pink ;*/
}

#panel img {
	width: 100% ;
	height: auto ;
	position:relative;
	mix-blend-mode:overlay;
}

#frame img {
	width: 100% ;
	height: auto ;
	position: absolute ;
	top: 0 ;
}

#shine {
	top: 0 ;
	width:100% ; 
	height: 98%;
	position:absolute;
	overflow:hidden;
	border-radius:5%;
	mix-blend-mode:soft-light;
	clip-path: polygon(0% 0, 100% 0, 100% 92%, 92% 100%, 0 100%);
	-webkit-clip-path: polygon(0% 0, 100% 0, 100% 92%, 90% 100%, 0 100%);    
	
}

#shine img{
	width: 300% ;
	height: auto ;
	transform: translate(-110%,-50%);
	animation: move 6s infinite 2s;

}

@keyframes move {
	from {transform: translate(-110%,-50%);}
	to {transform: translate(100%,100%);}
}

#sticker img {
	width: 80% ;
	height: auto ;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%, -50%) ;
	position:absolute;
	box-shadow: 0px 0px 20px #00E1FF;
}

/*keyboard*/

#keyboard {
	max-width: 600px ;
	height: auto ;
	margin: auto ;
	position:relative;
}

#kbOverlay img {
	width: 100% ;
	height: auto ;
	position:relative;
	mix-blend-mode:overlay;
}

#kbOutline img {
	width: 100% ;
	height: auto ;
	position:absolute ;
	top: 0 ;
}
#keys {
	width: 90% ;
	/*background-color: pink ;*/
	position: absolute ;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%, -50%) ;
	
}
#keys p {
	line-height: 10px ;
	font-size: 12px ;
	color: white ;
}
#line1, #line2, #line3, #line4 {
	width: 100% ;
	height: auto ;
	display: flex ;
	justify-content: space-between;
	margin-bottom: 5px ;
}

.letter-key, .number-key {
	display: flex ;
	gap: 5px ;
}

.key-blank {
	width: 15px ;
	height: 15px ;
	opacity: 0 ;
}
.key1 {
	width: 30px ;
	height: 30px ;
	border: 1px solid white ;
	border-radius: 5px ;
	text-align: center ;
}
.key2 {
	width: 60px ;
	height: 30px ;
	border: 1px solid white ;
	border-radius: 5px ;
	text-align: center ;
}
.key3 {
	width: 150px ;
	height: 30px ;
	border: 1px solid white ;
	border-radius: 5px ;
	text-align: center ;
}
.key4 {
	width: 67px ;
	height: 30px ;
	border: 1px solid white ;
	border-radius: 5px ;
	text-align: center ;
}
.key1, .key2, .key3, .key4 {
	background-color: rgba(0, 255, 248, .3) ;
}
.key1:hover, .key2:hover, .key3:hover, .key4:hover {
	background-color: rgba(0, 255, 248, 0) ;
	box-shadow: 1px 1px 20px #00C9FF;
}

.key1:active, .key2:active, .key3:active, .key4:active {
	background-color: rgba(0, 255, 248, .75) ;
	box-shadow: 1px 1px 20px #00C9FF;

}
/*Paying Instruction*/
#pay_instruction {
	width:90%;
	color:white;
	margin: auto ;
}
#pay_instruction p {
	font-size:18px;
}

/*PAY NOW Button*/

#pay_now_button {
	width:389px;
	height:106px;
	position:relative;
	display:flex;
	align-items:center;
	background-image:url("https://iili.io/HTIPvWJ.png");
	float: right ;
	margin: 0 20px 20px 0 ;
}

#pay_now_button:hover, #pay_now_button:active{
	background-image:url("https://iili.io/HTIPODg.png");
}

#pay_now_button p {
	position:absolute;
	left:90px;
	font-size:52px;
	color:white;
	font-weight:bold;
}

